.iframe-loading {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}
.iframe-loaded {
  visibility: visible;
  transition: visibility 1s, opacity 0.5s linear;
  opacity: 1;

}
